body {
    background: radial-gradient(#3a665f, #1c2424);
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    gap: 5em;
    justify-content: space-around;
    flex-wrap: wrap;
}

.apptitle {
    border-radius: 5em;
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.button {
    width: 30%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 1em;
    text-decoration: none;
    min-width: 10em;
}

.button h2 {
    text-align: center;
}